body {
    width: auto;
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.head {
    border: 2px solid white;
    text-align: center;
    background-color: greenyellow;
}

a {
    margin-left: 10px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
    }
  }