body {
    width: auto;
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: sans-serif;

}

.head {
    border: 2px solid white;
    text-align: center;
    background-color: greenyellow;
}



@media screen and (max-width: 768px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
    }

    a {
        margin-left: 5px;
        font-size: 10px;
    }
  }

@media screen and (min-width: 769px) {
    a {
        margin-left: 10px;
        font-size: 20px;
    }
    }
  